body, html {

}
#bg
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.echoColor{
  color: white;
}
